# operators in python

## 6 types of operatorsin python
1. arithematic opperators
2. assignment opperators
3. comparision opperators
4. logical opperators
5. membership opperators
6. identity opperators

In [3]:
# arithematic opperators - + ,-, *, /, //, %
a=10
b=20
c=20
d=30
print(a+b)
print(b-c)
print(b*d)
print(d/a)
print(d//a)
print(d%a)

30
0
600
3.0
3
0

In [4]:
# assingment opperators - +=, -=, *=, /=, //=, %=
a=100
a+=50
print(a)

150

In [5]:
b=200
b-=400
print(b)

-200

In [6]:
c=50
c*=100
print(c)

5000

In [7]:
# comparision opperators - >,<,>=,<=,==,!=
a=10
b=20
c=20
d=30
print(a>b)
print(b==c)
print(b!=c)
print(b>=a)
print(b>=c)
print(b<=a)

False
True
False
True
True
False

In [8]:
# logical opperator - and, or, not
"""
and - both conditions are true then results is true , rest case it false
or - either one condition is true the result is true , rest case is false
and truth table
T T = T
T F = F
F T = F
F F = F
or truth table
T T = T
T F = T
F T = T
F F = F
"""

a=10
b=20
c=20
d=30
print(a>b and b==c)
print(a<b and c==b)
print(a>b or b==c)
print(not a>b and b==c)

False
True
True
True

In [9]:
# membership opperator - in, not in
# volidating membership are present in that sequence or group
names=["vikas", "shivaji", "sidh", "chandra"]
print("vikas" in names)
print("shivaji"not in names)
print("Vikas"not in names)
print("vikram"in names)

True
False
True
False

In [10]:
# identity opperators - is, is not
a=10000
b=10000
print(a is b)
print(id(a))
print(id(b))

False
1411004028368
1411004028752

In [ ]:
a=10
b=10
print(a is b)
print(id(a))
print(id(b))